
<style type="text/css">
    .flexslider-container {
        width: 50%;
        margin: 10px auto;
    }
</style>

<flex-slider slide="s in slides track by s.id" animation="slide" control-nav="thumbnails">
    <li ng-switch="s.type" data-thumb="{{s.url}}">
        <iframe ng-switch-when="video" ng-src="{{s.url}}" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <img ng-switch-default ng-src="{{s.url}}">
    </li>
</flex-slider>
