
<style type="text/css">
    .flexslider-container {
        width: 50%;
        margin: 10px auto;
    }
</style>
<div class="row" >
    <div class="col-lg-12" style="background-color: #54a0e5;" >
        <flex-slider slide="s in carousel track by s.id " animation="slide" >
            <li  background-color: #54a0e5;" ng-switch="s.type" data-thumb="{{s.source}}">
                 <iframe style="margin-top: 6%;" ng-switch-when="video" ng-src="{{s.id}}" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <img style="height: 500px;" class="img-responsive" ng-switch-default ng-src="{{s.source}}">
            </li>
        </flex-slider>
    </div>
</div>




<button ng-click="showAllSocialMediaInfos()">Give all Infos</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div  in-view="objectInView($index, $inview, $inviewpart, $event)">
    <div ng-if="title === true">
        <h1 style="z-index: 1000; height: 50%;" class="animated fadeInRightBig ">AtomVulkans Seite</h1>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
