<div style="max-height: 45em" id="carousel-example-generic" class="carousel slide responsive-utilities" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner embed-responsive embed-responsive-16by9" role="listbox">
        <div class="carousel-item active embed-responsive embed-responsive-16by9">
            <center>
                <img style="max-height: 45em"  class="img-responsive embed-responsive-item" src="pictures/pic1.jpg" alt=""/>
            </center>
        </div>
        <div class="carousel-item embed-responsive embed-responsive-16by9">
            <center>
                <img style="max-height: 45em"  class="embed-responsive-item" src="pictures/pic2.jpg" alt=""/>
            </center>
        </div>
        <div class="carousel-item embed-responsive embed-responsive-16by9">
            <center>
                <img style="max-height: 45em"  class="embed-responsive-item" src="pictures/pic3.jpg" alt=""/>
            </center>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div  in-view="objectInView($index, $inview, $inviewpart, $event)">
    <div ng-if="title === true">
        <h1 style="z-index: 1000; height: 50%;" class="animated fadeInRightBig ">AtomVulkans Seite</h1>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
